<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Backoffice IP Filter excluding localhost" enabled="true" stopProcessing="true">
					<match url="(^umbraco/backoffice/(.*)|^umbraco($|/$))"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="localhost" negate="true"/>
						<add input="{HTTP_CF_Connecting_IP}" pattern="171.237.139.27" negate="true"/>
						<add input="{HTTP_CF_Connecting_IP}" pattern="103.37.29.90" negate="true"/>
						<!--<add input="{HTTP_CF_Connecting_IP}" negate="true" pattern="52.166.147.129"  />
						<add input="{HTTP_CF_Connecting_IP}" negate="true" pattern="13.95.93.29"  />
						<add input="{HTTP_CF_Connecting_IP}" negate="true" pattern="40.68.36.142"  />
						<add input="{HTTP_CF_Connecting_IP}" negate="true" pattern="13.94.247.45"  />
						<add input="{HTTP_CF_Connecting_IP}" negate="true" pattern="52.157.96.229"  />
						<add input="{HTTP_CF_Connecting_IP}" negate="true" pattern="52.232.105.169" />
						<add input="{HTTP_CF_Connecting_IP}" negate="true" pattern="52.174.66.30" />-->

					</conditions>
					<action type="CustomResponse" statusCode="404"/>
				</rule>
			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
	</system.webServer>
</configuration>
